.super-mario {
    width: 200px;
    position: absolute;
    left: 80px;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 130px;
    top: 400px;

  }
  
  .baloon {
    position: absolute;
    right: 200px;
    bottom: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    bottom: 370px;
    right: 240px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 170px;
  }