/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  margin: 15px;
}

article {
  text-align: justify;
}

h1 {
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 22px;
  text-align: center;
}

img {
  max-width: 100%;
}

main {

}

section {

}

figure {
  margin: 0;
  margin-bottom: 20px;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #ccc;
    font-size: 26px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  section {
    display: flex;
    flex-flow: row wrap;
    flex: 200px 1;
    gap: 10px;
  }

  figure {
    width: 49%;
  }

  figcaption {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  
  html {
    display: flex;
    justify-content: center;
  }
  body {
    background-color: bisque;
    font-size: 30px;
    max-width: 1368px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  img {
    width: 100%;
    margin-left: 10px;
  }
}